.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary);
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
    --bs-icon-size: 1rem;
}

.bs-icon-md {
    --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
    --bs-icon-size: 2rem;
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
    border-radius: 50%;
}

.bg-white-300 {
    background: rgba(255, 255, 255, 0.3) !important;
}

.rounded-bottom-left {
    border-radius: 0;
    border-bottom-left-radius: .25rem !important;
}

.rounded-bottom-right {
    border-radius: 0;
    border-bottom-right-radius: .25rem !important;
}

body {
    background-color: #eee;
    font-family: "Centra No2", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-synthesis: none;
}

.content {
    background-color: white;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    margin-top: 10px;
    padding-top: 10px;
    height: 30px;
    background-color: #eeeeee;
}

.order form span {
    width: 116px;
}

form span {
    width: 159px;
}

.order .header {
    font-weight: bold;
    color: var(--bs-indigo);
    font-size: 30px;
}

.blockquote {
    max-width: 900px;
    height: 100px;
    margin-top: 10px;
}

#quote_author {
    font-size: 16px;
    color: var(--bs-gray-700);
    text-align: right;
    height: 22px;
    font-style: italic;
}

#quote {
    text-align: center;
    color: var(--bs-blue);
    font-style: italic;
}

.card {
    margin: 10px;
    margin-right: 0;
    margin-left: 0;
    margin-top: 5px;
    border-radius: 10px;
}

.card-header {
    font-weight: bold;
    color: var(--bs-indigo);
    font-size: 30px;
}

.order-new {
    padding-top: 54px;
}

.price {
    color: var(--bs-red);
    font-weight: bold;
}

.car {
    /*max-width: 175px;*/
    height: 115px;
    width: auto;
}

.car-big {
    max-width: 600px;
    max-height: 300px;
    width: 250px;
    height: auto;
}

input::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.fill-height {
    padding-top: 150px;
    padding-bottom: 150px;
    /*background: #E41b13;*/
    min-height: 100%;
    height: 100vh;
}

.clickable-row {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #d7d8e3;
}

.error-code {
    font-size: 130px;
}

.error-text {
    font-size: 27px;
}

.language {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

/* USER CARD */
.user_card:hover {
    cursor: pointer;
}

.user_card {
    /*background-color: #fff;*/
    width: 170px;
    height: 60px;
    border-radius: 33px;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding: 1rem !important;
}

.user_card img {
    width: 50px;
    margin-right: 8px;
}

.top-container {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 10px;
    border: 2px solid #5957f9;
}

.name {
    font-size: 15px;
    font-weight: bold;
    color: #272727;
    position: relative;
    top: 8px;
}

.role {
    font-size: 14px;
    color: grey;
    position: relative;
    top: 2px;
}

/* ORDERS */
#order_new form span {
    width: 180px;
}
